.hero-image {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url('./team.png');
    overflow: hidden;
    vertical-align: center;
}
.hero-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.hero-text {
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.hero-text img {
    max-width: 30%;
    height: auto;
}
.mission-background {
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('./test1.jpg')
}
.mission-heading {
    position: absolute;
    color: white;
    font-style: bold;
    font-size: xx-large;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.mission-text {
    position: absolute;
    text-align: center;
    color: white;
    font-size: medium;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
}