.page-background {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem;
    overflow: hidden;
}
.top-header {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: xxx-large;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 1.5rem;
}
.top-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: medium;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    padding: 1.5rem;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    padding: 0rem;
    position: absolute;
    top: 0%;
    /* height: 500vh; */
}
.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}
.icon-card img {
    /* width: 80px; */
    object-fit: cover;
    width: 288px;
    height: 288px;
    padding-bottom: 1.5rem;
}
.icon-card:hover img {
    transform: scale(1.1);
}
.card-heading {
    color: black;
    font-weight: bold;
    font-size: medium;
    padding: 0.5rem;
    background-color: rgb(244, 216, 0);
    border-radius: 8px;
    width: 200px;
}
.icon-background {
    display: flex;
    height: 380vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem;
}
.mentor-background {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0rem;
}
.middle-background {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0rem;
}
.mentor-header {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: xxx-large;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.mentor-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: medium;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    padding: 1.5rem;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.student-leadership-background {
    background-color: #222222;
    position: relative;
    height: 110vh;
}
.student-leadership-left {
    position: absolute;
    top: 10%;
    left: 33%;
    display: grid;
    text-align: center;
    transform: translateX(-50%);
}
.student-leadership-heading {
    color: white;
    font-weight: bold;
    font-size: medium;
}
.student-leadership-subheading {
    color: white;
    font-size: medium;
    line-height: 2;
}
.student-leadership-spacer {
    padding: 1rem;
}
.student-leadership-middle {
    position: absolute;
    top: 10%;
    left: 66%;
    transform: translateX(-50%);
    text-align: center;
}
.student-leadership-right {
    position: absolute;
    top: 10%;
    left: 66%;
    transform: translateX(-50%);
    text-align: center;
}