.footer-background {
  padding: 2.5rem 3rem;
  background-color: #53565a;
  position: relative;
  top: 100%;
  height: 16vh;
  display: grid;
  justify-content: space-between;
  overflow: hidden;
  color: white;
}
