.navbar {
    padding: 1rem 2rem;
    background-color: #53565a;
    position: fixed;
    top: 0;
    width: 95%;
}
.arrangement {
    justify-content: right;
    display: flex;
    align-items: left;
}
.links {
    color: white;
}
a:hover {
    text-decoration: underline;
}
