.contact-top-background {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color:#ECF1F2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem;
}
.contact-page-heading {
    color: black;
    font-weight: bold;
    font-size: xxx-large;
    transform: translateX(-50%);
}
.contact-page-subheading {
    color: black;
    font-weight: bold;
    font-size: large;
    transform: translateX(-50%);
    line-height: 2;
}
.gen-inq-background {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color:#222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem; 
}
.interest-background {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color:#222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem; 
}
.sponsor-background {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color:#222222;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem; 
}
.gen-inq-heading {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.gen-inq-subheading {
    position: absolute;
    color: white;
    font-size: medium;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    text-align: center;
}
.contact-newline {
    text-align: center;
}
.contact-interested-heading {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: x-large;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.contact-interested-subheading {
    position: absolute;
    color: white;
    font-size: medium;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    text-align: center;
}
.contact-page-bold {
    font-weight: bold;
}
.contact-sponsors-heading {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: x-large;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.contact-sponsors-subheading {
    position: absolute;
    color: white;
    font-size: medium;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    text-align: center;
}