.donate-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgb(244, 216, 0);
}
.donate-heading {
  display: flex;
  color: rgb(252, 195, 7);
  padding-top: 2rem;
  font-size: xx-large;
  overflow: hidden;
}
.donate-text {
  font-size: medium;
  overflow: hidden;
  line-height: 2;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 0.5rem;
}
.donate-background {
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-color: #ecf1f2;
  overflow: auto;
  text-overflow: scroll;
  padding: 1rem;
}
.corporate-sponsor-background {
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-color: #ecf1f2;
  overflow: auto;
  text-overflow: scroll;
  padding: 1rem;
}
.corporate-sponsor-heading {
  color: rgb(252, 195, 7);
  font-weight: bold;
  font-size: xx-large;
}
.corporate-sponsor-text {
  color: white;
  font-size: medium;
  font-size: medium;
  max-width: 50vw;
  line-height: 2;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.donate-page-banner-text {
  color: white;
  font-size: medium;
  font-size: medium;
  max-width: 50vw;
  line-height: 2;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}
.donate-page-donate-button {
  background-color: #222222;
  border-radius: 8px;
  border-color: white;
  font-size: x-large;
  padding: 1rem;
  font-weight: bold;
  color: white;
  z-index: 20;
}
.new-line-sponsor {
  text-align: left;
}
.parent-contribution-background {
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-color: #222222;
  overflow: auto;
  text-overflow: scroll;
  padding: 1rem;
}
.parent-contribution-heading {
  color: rgb(252, 195, 7);
  font-weight: bold;
  font-size: xx-large;
}
.parent-contribution-text {
  color: white;
  font-size: medium;
  font-size: medium;
  max-width: 50vw;
  line-height: 2;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
