name: lint

on: [push, pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    steps:
    - uses: oven-sh/setup-bun@v2
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: bun install
    - name: Run ESLint
      run: bun run lint
